$error-color: red;
$tweet-button-color: #324ca8;
$tweet-button-font-color: white;

.form-hidden {
  display: none;
}

.new-tweet {
  font-weight: bold;
  padding: 1.5em;

  form {
    display: flex;
    flex-direction: column;
  }

  button {
    color: $tweet-button-font-color;
    background-color: $tweet-button-color;
    font-weight: bold;
  }

  footer {
    border-top: 5px solid;
    padding-top: 1em;
    display: flex;
    justify-content: space-between;
  }
}

.red {
  color: $error-color;
}

#tweet-text {
  line-height: 2rem;
  border: none;
  resize: none;
  font-weight: bold;
  background-color: inherit;
}

#error {
  text-align: center;
  border: solid $error-color 5px;
  padding: 1em;
  color: $error-color;
  display: none;
}

#error-message {
  margin: 0.5em;
}