.new-tweet {
  font-weight: bold;
  padding: 20px;
}

#error {
  border: solid red 5px;
  padding: 15px;
  color: red;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
}

#tweet-text {
  background-color: inherit;
}

.new-tweet button {
  color: white;
  background-color: #324ca8;
  font-weight: bold;
}

.red {
  color: red;
}

.new-tweet footer {
  border-top: 5px solid;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
}